.post-image {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Chia ảnh theo cột, kích thước tối thiểu */
  gap: 16px; /* Khoảng cách giữa các ảnh */
  margin: 16px 0;
}

.post-image img {
  width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng khung */
  aspect-ratio: 16 / 9; /* Đặt tỷ lệ 16:9 cho ảnh (hoặc tùy chỉnh theo yêu cầu) */
  object-fit: cover; /* Cắt ảnh để vừa với khung mà không bị méo */
  border-radius: 8px; /* Làm mềm các góc ảnh */
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.container-left {
  border: 1px solid #f0f0f0;
  border-radius: 12pt;
  padding: 20px;
}

.entire-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.body {
  display: flex;
  justify-content: space-between;
}

.column-left,
.column-right {
  flex: 1;
  padding: 10px;
}

.column-center {
  flex: 2;
  padding: 10px;
}

.container-left-item-abc {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

.container-left-item-abc:hover {
  background-color: #f0f0f0;
  /* Màu xám nhạt khi hover */
}

.container-left-item-abc:hover h3 {
  text-decoration: underline;
  /* Gạch chân chữ khi hover */
}

/* .post-image img {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  .post-image img:hover {
    transform: scale(1.05);
  } */
.containe-center {
  padding-left: 150pt;
  padding-right: 150pt;
}

.circle-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}

.cicrle-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.post-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.item-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  /* Làm mềm các góc khi có viền */
  transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

.item-container-right:hover {
  background-color: #f0f0f0;
}

.popup-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  right: 0;
  /* Đảm bảo nó nằm ở bên phải của biểu tượng */
  top: 30px;
  /* Điều chỉnh vị trí theo nhu cầu */
  z-index: 10;
}

.popup-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup-menu li {
  padding: 8px;
  cursor: pointer;
}

.popup-menu li:hover {
  background-color: #f0f0f0;
}

.post-header-right {
  display: flex;
  flex-direction: row;
}

.post-header-title-daypost {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-header-left {
  align-content: center;
}

.post-header-title {
  margin-left: 10px;
  align-content: center;
}

.post-title {
  margin: 16px 0;
}

.divider {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  margin-top: 20px;
}

.divider-post {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.container-right {
  border: 1px solid #f0f0f0;
  border-radius: 12pt;
  padding: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.modal-overlay.zoom-in {
  opacity: 1;
  transform: scale(1);
}

.modal-overlay.zoom-out {
  opacity: 0;
  transform: scale(0.8);
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}
.slick-arrow {
}
.slick-arrow:before {
  color: black !important;
}

@media (max-width: 768px) {
  .containe-center {
    width: 100vh;
    padding: 0;
  }
  .header {
    padding: 0 1rem !important;
    margin-bottom: 1rem;
  }
  .entire-page {
    padding: 1rem;
  }
  .header-blog {
    display: flex;
  }
  .header-blog-parent {
    padding: 0 !important;
  }
  .divider {
    display: none;
    margin-top: 1rem;
  }
  .post-title p {
    font-size: 2rem;
  }
  .post-header-title p {
    font-size: 2rem;
  }
  .post-header-right svg {
    transform: scale(1.6);
  }
  .post-header-title {
    margin-left: 2rem;
  }
  .post-header-title p {
    font-size: 2rem !important;
  }
  .post-header-right {
    align-items: center;
  }
  .quanity-name {
    font-size: 2rem;
  }
  .entire-page {
    display: flex;
    justify-content: center;
  }
}
